@font-face {
    font-family: Roboto-Regular;
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Roboto-Bold;
    src: url(./fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto-Light;
    src: url(./fonts/Roboto-Light.ttf);
    font-weight: normal ;
}
/*@font-face {*/
/*    font-family: OpenSans;*/
/*    src: url(./OpenSans/OpenSans-Light.ttf);*/
/*    font-weight: 100;*/
/*}*/
/*@font-face {*/
/*    font-family: OpenSans;*/
/*    src: url(./OpenSans/OpenSans-CondLight.ttf);*/
/*    font-stretch: condensed;*/
/*    font-weight: 100;*/
/*}*/
/*@font-face {*/
/*    font-family: OpenSans;*/
/*    src: url(./OpenSans/OpenSans-CondBold.ttf);*/
/*    font-weight: bold;*/
/*    font-stretch: condensed;*/
/*}*/
/*@font-face {*/
/*    font-family: OpenSans;*/
/*    src: url(./OpenSans/OpenSans-CondLightItalic.ttf);*/
/*    font-stretch: condensed;*/
/*    font-weight: 100;*/
/*    font-style: italic;*/
/*}*/
/*@font-face {*/
/*    font-family: OpenSans;*/
/*    src: url(./OpenSans/OpenSans-Regular.ttf);*/
/*    font-weight: normal;*/
/*    font-stretch: condensed;*/
/*}*/
/*@font-face {*/
/*    font-family: OpenSans;*/
/*    src: url(./OpenSans/OpenSans-Bold.ttf);*/
/*    font-weight: bold;*/
/*}*/
/*@font-face {*/
/*    font-family: OpenSans;*/
/*    src: url(./OpenSans/OpenSans-BoldItalic.ttf);*/
/*    font-weight: bold;*/
/*    font-style: italic;*/
/*}*/
/*@font-face {*/
/*    font-family: OpenSans;*/
/*    src: url(./OpenSans/OpenSans-ExtraBold.ttf);*/
/*    font-weight: 900;*/
/*}*/
/*@font-face {*/
/*    font-family: OpenSans;*/
/*    src: url(./OpenSans/OpenSans-ExtraBoldItalic.ttf);*/
/*    font-weight: 900;*/
/*    font-style:italic;;*/
/*}*/
/*@font-face {*/
/*    font-family: OpenSans;*/
/*    src: url(./OpenSans/OpenSans-Semibold.ttf);*/
/*    font-weight: 600;*/
/*}*/
/*@font-face {*/
/*    font-family: OpenSans;*/
/*    src: url(./OpenSans/OpenSans-SemiboldItalic.ttf);*/
/*    font-weight: 600;*/
/*    font-style:italic;;*/
/*}*/

